<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Dashboard</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light"
            style="position: fixed; top: 0; left: 0; width: 100%; z-index: 1030;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Dashboard</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="nav-left me-auto">
                        <ul class="navbar-nav">

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Reports
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Create Report</a>
                                    <a class="dropdown-item" href="#">Report Manager</a>
                                    <a class="dropdown-item" href="#">Instant Graphs</a>
                                    <a class="dropdown-item" href="#">TopN Reports</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Events
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Alerts</a>
                                    <a class="dropdown-item" href="#">Alert Summary</a>

                                    <div class="dropdown-item dropdown-submenu">
                                        <a class="dropdown-toggle" href="#">Archives</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Alert Archive</a>
                                            <a class="dropdown-item" href="#">Logged Traps</a>
                                            <a class="dropdown-item" href="#">Unknown Traps</a>
                                        </div>
                                    </div>
                                    <div class="dropdown-item dropdown-submenu">
                                        <a class="dropdown-toggle" href="#">Configuration</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Policy Browser</a>
                                            <a class="dropdown-item" href="#">Threshold Browser</a>
                                            <a class="dropdown-item" href="#">Trap Destinations</a>
                                            <a class="dropdown-item" href="#">Trap Destination Associations</a>
                                            <a class="dropdown-item" href="#">Trap Event Editor</a>
                                            <a class="dropdown-item" href="#">Trap v3 Receiver</a>
                                        </div>
                                    </div>
                                    <a class="dropdown-item" href="#">Instant Status </a>
                                    <a class="dropdown-item" href="#">Status Map Manager </a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Applications
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">FlowFalcon Reports</a>
                                    <a class="dropdown-item" href="#">NBAR Reports</a>
                                    <a class="dropdown-item" href="#">Probe Manager </a>
                                </div>
                            </li>


                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Devices
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Device Manager</a>
                                    <a class="dropdown-item" href="#">Object Manager</a>
                                    <a class="dropdown-item" href="#">Device Mover</a>
                                    <a class="dropdown-item" href="#">Discovery Manager</a>

                                    <div class="dropdown-item dropdown-submenu">
                                        <a class="dropdown-toggle" href="#">Grouping</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Device Groups</a>
                                            <a class="dropdown-item" href="#">Object Groups</a>
                                        </div>
                                    </div>
                                    <a class="dropdown-item" href="#">SNMP Walk </a>
                                    <a class="dropdown-item" href="#">VMware Browser </a>
                                </div>
                            </li>



                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Administration
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">About</a>

                                    <div class="dropdown-item dropdown-submenu">
                                        <a class="dropdown-toggle" href="#"> Access Configuration</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#"> Authentication Settings</a>
                                            <a class="dropdown-item" href="#">User Manager</a>
                                            <a class="dropdown-item" href="#">User Role Manager</a>
                                            <a class="dropdown-item" href="#">Session Manager</a>

                                        </div>
                                    </div>

                                    <div class="dropdown-item dropdown-submenu">
                                        <a class="dropdown-toggle" href="#">API Docs</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Version 2 </a>
                                            <a class="dropdown-item" href="#"> Version 3</a>

                                        </div>
                                    </div>
                                    <a class="dropdown-item" href="#">Baseline Manager </a>
                                    <a class="dropdown-item" href="#">Cluster Manager </a>

                                    <div class="dropdown-item dropdown-submenu">
                                        <a class="dropdown-toggle" href="#">Flow Configuration </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Flow Rules</a>
                                            <a class="dropdown-item" href="#"> Flow Interface Manager</a>
                                            <a class="dropdown-item" href="#">FlowFalcon View Editor</a>
                                            <a class="dropdown-item" href="#">MPLS Flow Mapping</a>
                                            <a class="dropdown-item" href="#">Network Segment Manager</a>
                                            <a class="dropdown-item" href="#"> Object Mapping</a>
                                            <a class="dropdown-item" href="#"> Device Mapping</a>
                                            <a class="dropdown-item" href="#"> Protocols and Services</a>

                                        </div>
                                    </div>
                                    <div class="dropdown-item dropdown-submenu">
                                        <a class="dropdown-toggle" href="#">Monitoring Configuration </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Calculation Editor</a>
                                            <a class="dropdown-item" href="#"> Device Types</a>
                                            <a class="dropdown-item" href="#">MIB Manager</a>
                                            <a class="dropdown-item" href="#">Object Rules</a>
                                            <a class="dropdown-item" href="#">Object Subtype Manager</a>
                                            <a class="dropdown-item" href="#">Object Types</a>
                                            <a class="dropdown-item" href="#">xStats Log Viewer</a>
                                            <a class="dropdown-item" href="#"> xStats Source Manager</a>

                                        </div>
                                    </div>

                                    <a class="dropdown-item" href="#">Maintenance Windows </a>
                                    <a class="dropdown-item" href="#">Metadata Schema </a>



                                    <a class="dropdown-item" href="#">My Preferences </a>
                                    <a class="dropdown-item" href="#">Startup Wizard </a>
                                    <a class="dropdown-item" href="#">Work Hours </a>


                                </div>
                            </li>








                        </ul>
                    </div>
                    <div class="nav-right ms-auto">
                        <input type="text" class="form-control" placeholder="Search..." style="margin-right: 15px;" />

                        <button
                            style="background: none; border: none; padding: 0; margin-right: 15px; cursor: pointer;font-weight: bold; margin-right: 10px; vertical-align: middle; color: black;">
                            {{ user.username }}
                        </button>

                        <button
                            style="background: none; border: none; padding: 0; margin-right: 15px; cursor: pointer;">
                            <img src="{% static 'images/logout.png' %}" alt="Logout"
                                style="width: 24px; height: 24px; vertical-align: middle;">
                        </button>

                        <button
                            style="background: none; border: none; padding: 0; margin-right: 15px; cursor: pointer;">
                            <img src="{% static 'images/add-button.png' %}" alt="Add"
                                style="width: 24px; height: 24px; vertical-align: middle;">
                        </button>

                        <button
                            style="background: none; border: none; padding: 0; margin-right: 15px; cursor: pointer;">
                            <img src="{% static 'images/refresh-option.png' %}" alt="Refresh"
                                style="width: 24px; height: 24px; vertical-align: middle;">
                        </button>

                        <button
                            style="background: none; border: none; padding: 0; margin-right: 15px; cursor: pointer;">
                            <img src="{% static 'images/home.png' %}" alt="Home"
                                style="width: 24px; height: 24px; vertical-align: middle;">
                        </button>

                        <button
                            style="background: none; border: none; padding: 0; margin-right: 15px; cursor: pointer;">
                            <img src="{% static 'images/ask-for-help.png' %}" alt="Help"
                                style="width: 24px; height: 24px; vertical-align: middle;">
                        </button>
                    </div>

                </div>
            </div>
        </nav>
    </header>

    <main class="container mt-4">
        <div class="row">
            <div class="col-md-4">
                <section class="favorite-reports" style="position: relative; padding-bottom: 50px;">
                    <h2 style="margin-top: 10px;">Favorite Reports</h2>
                    <img src="{% static 'images/favourite.png' %}" alt="favourite"
                        style="width: 100px; height: 100px; vertical-align: middle;">

                    <!-- Button container with absolute positioning to the bottom-right corner -->
                    <div class="d-flex"
                        style="position: absolute; bottom: 0; right: 0; margin-right: 10px; margin-bottom: 10px;">
                        <button class="btn btn-info me-2">Manage</button>
                        <button class="btn btn-success">Create Report</button>
                    </div>
                </section>




                <section class="discovery-status" style="padding-bottom: 50px;">
                    <h2 style="margin-bottom: 10px;">Discovery Status</h2>
                    <div style="display: flex; align-items: flex-start;">
                        <div style="margin-right: 20px;">
                            <img src="{% static 'images/server.png' %}" alt="Discovery Status"
                                style="width: 100px; height: 100px;">
                        </div>

                        <!-- List positioned on the right side -->
                        <ul class="list-group" style="list-style: none; padding-left: 0;">
                            <li class="list-group-item">
                                <span>0 Device in queue for <a href="#">discovery</a></span>
                            </li>
                            <li class="list-group-item">
                                <span>0 Device in <a href="#">discovery</a></span>
                            </li>
                            <li class="list-group-item">
                                <span>0 new Device found during <a href="#">discovery</a></span>
                            </li>
                            <li class="list-group-item">
                                <span>0 new Device <a href="#">can not be discovered due to capacity
                                        restraints</a></span>
                            </li>
                        </ul>
                    </div>
                </section>






                <section class="manage-events" style="padding-bottom: 50px;">
                    <h2 style="margin-bottom: 10px;">Manage Events</h2>
                    <div style="display: flex; align-items: flex-start;">
                        <div style="margin-right: 20px;">
                            <img src="{% static 'images/server_s.png' %}" alt="Manage Events"
                                style="width: 100px; height: 100px;">
                        </div>

                        <!-- List positioned on the right side -->
                        <ul class="list-group" style="list-style: none; padding-left: 0;">
                            <li class="list-group-item">
                                <span>View and acknowledge <a href="#">Alerts</a></span>
                            </li>
                            <li class="list-group-item">
                                <span>Create <a href="#">Alert Summary</a> Reports</span>
                            </li>
                            <li class="list-group-item">
                                <span>Manage <a href="#">policies</a> and <a href="#">Threshold</a></span>
                            </li>
                            <li class="list-group-item">
                                <span>Manage <a href="#">Status Maps</a></span>
                            </li>
                        </ul>
                    </div>
                </section>


                <section class="analyze-application-traffic" style="padding-bottom: 50px;">
                    <h2 style="margin-bottom: 10px;">Analyze Application Traffic</h2>
                    <div style="display: flex; align-items: flex-start;">
                        <div style="margin-right: 20px;">
                            <img src="{% static 'images/graph-report.png' %}" alt="Analyze Application Traffic"
                                style="width: 100px; height: 100px;">
                        </div>

                        <!-- List positioned on the right side -->
                        <ul class="list-group" style="list-style: none; padding-left: 0;">
                            <li class="list-group-item">
                                <span>Create <a href="#">FlowFalcon</a> Reports</span>
                            </li>
                            <li class="list-group-item">
                                <span>Create <a href="#">NBAR</a> Reports</span>
                            </li>
                            <li class="list-group-item">
                                <span>Manage <a href="#">Responses Probes</a></span>
                            </li>
                        </ul>
                    </div>
                </section>


                <section class="reporting-tools" style="padding-bottom: 50px;">
                    <h2 style="margin-bottom: 10px;">Utilize Reporting Tools</h2>
                    <div style="display: flex; align-items: flex-start;">
                        <div style="margin-right: 20px;">
                            <img src="{% static 'images/pie-chart.png' %}" alt="Utilize Reporting Tools"
                                style="width: 100px; height: 100px;">
                        </div>

                        <!-- List positioned on the right side -->
                        <ul class="list-group" style="list-style: none; padding-left: 0;">
                            <li class="list-group-item">
                                <span>Manage <a href="#">Reports</a></span>
                            </li>
                            <li class="list-group-item">
                                <span>Create <a href="#">TopN</a></span>
                            </li>
                            <li class="list-group-item">
                                <span>Create <a href="#">Graphs</a></span>
                            </li>
                        </ul>
                    </div>
                </section>


                <section class="manage-devices-users" style="padding-bottom: 50px;">
                    <h2 style="margin-bottom: 10px;">Manage Devices and Users</h2>
                    <div style="display: flex; align-items: flex-start;">
                        <div style="margin-right: 20px;">
                            <img src="{% static 'images/server-management.png' %}" alt="Manage Devices and Users"
                                style="width: 100px; height: 100px;">
                        </div>

                        <!-- List positioned on the right side -->
                        <ul class="list-group" style="list-style: none; padding-left: 0;">
                            <li class="list-group-item">
                                <span><a href="#">Add a Device</a></span>
                            </li>
                            <li class="list-group-item">
                                <span>View and Edit <a href="#">Devices</a></span>
                            </li>
                            <li class="list-group-item">
                                <span>Manage <a href="#">Users</a></span>
                            </li>
                        </ul>
                    </div>
                </section>

            </div>

            <div class="col-md-8">
                <section>
                    <span tyle="color: white;"></span>
                </section>

                <div class="row">
                    <div class="col-md-6">
                        <section class="instant-status">
                            <h2>Alert Summary</h2>
                            <p>Instant status details here</p>
                        </section>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <section class="instant-status">
                            <h2>Instant Status</h2>
                            <p>Instant status details here</p>
                        </section>
                    </div>
                    <div class="col-md-6">
                        <section class="alerts">
                            <h2>Alerts</h2>
                            <p>Alerts details here</p>
                        </section>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>